body {
    font-family: Arial, sans-serif;
    background: radial-gradient(#4114e6, #900a63); /* Updated gradient background */
    color: #fff; /* Text color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
}

.container {
    max-width: 600px; /* Adjusted max-width for better readability */
    margin: 20px auto; /* Center the container horizontally */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Increased shadow for depth */
}

h1 {
    text-align: center;
    color: #111010; /* White text color */
    background-color: #fdf3f3; /* Dark gray background */
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

h2 {
    color: #333; /* Dark gray color */
    text-align: center; /* Center the heading */
    margin-top: 20px; /* Add margin top for separation */
}

form {
    margin-top: 20px;
    text-align: center; /* Center form elements */
}

input[type="text"], input[type="password"], button[type="submit"] {
    width: calc(100% - 40px); /* 100% width with 20px padding on both sides */
    height: 40px;
    display: block;
    margin: 0 auto 20px; /* Center input fields and button */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #007bff; /* Blue color */
    color: #fff; /* White color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    transition: background-color 0.3s; /* Smooth transition */
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
    margin-bottom: 20px;
}

.form-container h2 {
    margin-top: 0;
}

.form-container p {
    margin-bottom: 20px;
    text-align: center; /* Center the paragraph text */
}

.form-container a {
    color: #007bff;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}
